.manage{
  margin-block-start: 7.5rem;
}
.manage__content{
  text-align: center;
  padding-inline: 3.5rem;
}
.manage__content p{
margin-block-end: 3rem;
}
.manage__item{
  padding-inline-start: 2rem;
}
.manage__item h4{
  line-height: 1.6rem;
  background: #f3613c33;
  border-radius: 5rem 0 0 5rem;
  padding-block: 1rem;
}
.manage__item span{
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 5rem;
  padding-inline: 2.5rem;
  padding-block: .8rem;
  margin-inline-end: 1.5rem;
}
.manage__item p{
  margin-block-end: 3rem;
  margin-inline-end: 2rem;
}
