.team{
  text-align: center;
  line-height: 4rem;
  background: var(--color-primary);
  padding-block: 5rem;
}
.team p{
  color: var(--color-white);
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  padding-inline: 3.5rem;
}
.team a{
  background: var(--color-white);
  color: var(--color-primary);
}
