footer{
  background: #1E1E26;
  text-align: center;
}
.form__subscribed{
  padding-block: 35px;
  text-align: center;
}
.form__subscribed .input{
  inline-size: 55%;
}
.form__subscribed .btn{
  margin-inline-start: 5px;
}

/* menu footer */
.navbar__footer-content{
  padding: 0;
  inline-size: 70vw;
  margin: auto;
  column-count: 2;
  text-align: left;
}
.navbar__footer-content a{
  color: var(--color-white);
  font-size: 13px;
}
/* social__networks */
.social__networks{
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-inline: 15px;
  margin-block: 30px;
}
.social__networks .fab{
  font-size: 30px;
  color: var(--color-white);
}
.footer__image{
  margin-block-start: 10px;
  margin-block-end: 10px;
}
.footer__copyright{
  margin: 0;
  padding-block: 20px;
  color: var(--gray20);
  font-size: 13px;
}
@media (min-width: 675px){
  .footer__container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
/*     align-items: center; */
    max-inline-size: 111rem;
    margin-inline: auto;
    padding-block-start: 5rem;
    outline: 1px solid white;
  }
  .footer__image{
    max-inline-size: 14.5rem;
    margin-inline: auto;
  }
  .navbar__footer-content{
    margin-block: auto;
    max-inline-size: 39.2rem;
  }
  .social_container{
    display: flex;
    flex-direction: column-reverse;
    margin-inline: auto;
  }
  .form__subscribed{
    padding-block: 0;
    inline-size: 27.2rem;
  }
  .form__subscribed .input{
    max-inline-size: 21.5rem;
  }
  .social__networks{
    max-inline-size: 15.3rem;
    display: flex;
    gap: 1.3rem  ;
  }
  .social__networks .fab{
    font-size: 2rem;
  }
  .footer__copyright{
    outline: 1px solid green;
    max-inline-size: 111rem;
    margin-inline: auto;
    text-align: right;
    padding-block-start: 0;
    padding-block-end: 2rem;
  }
}
