footer{
  text-align: center;
  background: #1E1E26;
}
.form__subscribed{
  text-align: center;
  padding-block: 3.5rem;
}
.form__subscribed .input{
  inline-size: 55%;
}
.form__subscribed .btn{
  margin-inline-start: .5rem;
}

/* menu footer */
.navbar__footer-content{
  text-align: left;
  inline-size: 70vw;
  column-count: 2;
  padding: 0;
  margin: auto;
}
.navbar__footer-content a{
  color: var(--color-white);
  font-size: 1.3rem;
}
/* social__networks */
.social__networks{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-inline: 1.5rem;
  margin-block: 3rem;
}
.social__networks .fab{
  color: var(--color-white);
  font-size: 3rem;
}
.footer__image{
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
.footer__copyright{
  color: var(--gray20);
  font-size: 1.3rem;
  padding-block: 2rem;
  margin: 0;
}