@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700&display=swap');
@import url(./nav.css);
@import url(./product.css);
@import url(./about.css);
@import url(./careers.css);
@import url(./community.css);
@import url(./footer.css);
@import url(./media.css);

/* Definicion de variable */
:root{
  --color-primary: rgb(242, 95, 58);
  --color-secondary: rgb(35, 44, 81);
  --gray30: rgb(29, 30, 37);
  --gray20: rgb(143, 148, 167);
  --gray10: rgb(255, 239, 234);
  --color-white: rgb(249, 249, 249);
  --color-black: #000;
  --baseFont: 'Be Vietnam', sans-serif;
  font-size: 62.5%;
}

/* Selectores generales */
body{
  font-family: var(--baseFont);
  margin: 0;
  margin-inline: auto;
}
h1{
  color: var(--color-secondary);
  font-size: 3.2rem;
  font-weight: 700;
}
h2{
  color: var(--color-secondary);
  font-size: 2.8rem;
  font-weight: 700;
}
h3{
  color: var(--color-secondary);
  font-size: 2.8rem;
  font-weight: 700;
}
h4{
  color: var(--color-secondary);
  font-size: 1.6rem;
}
li{
  list-style: none;
}
p{
  color: var(--gray20);
  font-size: 1.4rem;
  font-weight: 500;
}

/* Button*/
.link{
  font-weight: normal;
  text-decoration: none;
}
.btn{
  line-height: 19.26px;
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 13.23px;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
  padding-inline: 30.5px;
  padding-block: 12.5px;
}
.btn:hover{
  background: var(--color-white);
  color: var(--color-primary);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  transform: scale(.95);
  cursor: pointer;
}

/* input */
.input{
  color: var(--gray10);
  font-size: 13.18px;
  border-radius: 50px;
  border: none;
  padding-inline-start: 10px;
  padding-block: 12.5px;
  outline: none;
}