@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700&display=swap');
@import url(./nav.css);
@import url(./product.css);
@import url(./about.css);
@import url(./careers.css);
@import url(./community.css);
@import url(./footer.css);


:root{
  --color-primary: rgb(242, 95, 58);
  --color-secondary: rgb(35, 44, 81);
  --gray30: rgb(29, 30, 37);
  --gray20: rgb(143, 148, 167);
  --gray10: rgb(255, 239, 234);
  --color-white: rgb(249, 249, 249);
  /* Revisar color black */
  --color-black: #000;
  --baseFont: 'Be Vietnam', sans-serif;

/*   Tamaño de pantallas
  - Mobile: 375px
  - Desktop: 1440px */
  font-size: 62.5%;

}
body{
  margin: 0;
  font-family: var(--baseFont);
/*   max-inline-size: 375px; */
  margin-inline: auto;
}
.body__content{
/*   border: 1px solid red; */
/*   max-inline-size: 320px; */
}


.main__content{
  /* padding-inline: 15px; */
}

li{
  list-style: none;
}

.link{
  text-decoration: none;
  font-weight: normal;
}
.btn{
  background: var(--color-primary);
  color: var(--color-white);
  padding-inline: 30.5px;
  padding-block: 12.5px;
  box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
  border-radius: 50px;
  font-size: 13.23px;
  line-height: 19.26px;
  font-weight: 500;
  border: none;
}
/* input */
.input{
  color: var(--gray10);
  border-radius: 50px;
  padding-inline-start: 10px;
  padding-block: 12.5px;
  border: none;
  outline: none;
  font-size: 13.18px;
}



@media (min-width: 640px) {
  .check__btn{
    display: none;
  }
  .navbar__list{
    float: right;
    margin-right: 20px;
  }

  .navbar__list li{
    line-height: 30px;
    display: inline-block;
    margin: 0 5px;
  }
}