/* Cabecera y navegación del sitio */
.header{
  block-size: 6rem;
}
.header__nav{
  inline-size: 100%;
  background: var(--color-white);
  position: fixed;
  z-index: 2;
}
.header__nav > .btn, #check{
  display: none;
}
#check:checked ~ .nav__list{
  left: 0;
}
.nav__check{
  float: right;
  line-height: 5.5rem;
  font-size: 2.5rem;
  margin-inline-end: 3rem;
  cursor: pointer;
}
.nav__check:hover{
  color: var(--color-primary) ;
}
.logo-image{
  inline-size: 14.5rem;
  block-size: 2.4rem;
  margin: 1.68rem;
}
.nav__list{
  text-align: center;
  position: fixed;
  background: var(--gray10);
  top: 6rem;
  right: -100%;
  inline-size: 100%;
  block-size: 100vh;
  padding-block-start: 2rem;
  margin: 0;
  padding: 0;
  transition: all .5s;
 }
.nav__list li{
   line-height: 6rem;
 }
.nav__list a{
  color: var(--color-secondary);
  font-size: 1.3rem;
  font-weight: 500;
}