.product__figure{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  max-inline-size: 58rem;
  margin-block-start: 2rem;
  margin-inline: auto;
}
.product__figure-image{
  inline-size: 50%;
}
.product__content{
  text-align: center;
  max-inline-size: 43.9rem;
  padding-inline: 2rem;
  margin-inline: auto;
}
.product__content h1{
  margin-block-end: 0;
}
.product__content p{
  margin-block-end: 3rem;
}