.slider{
  margin-block: 35px;
}
.slider__container{
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.slider__slide{
  display: inline-block;
  white-space: normal;
}

.slider__bullet{
  display: inline-block;
  inline-size: 8px;
  block-size: 8px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}
.slider__bullet:hover{
  background: var(--color-primary);
  cursor: pointer;
}